.main-heading {
    text-transform: uppercase;
    margin: 0 0 20px 0;
    text-align: center;
}
.projects-table-header-container {
    min-height: 64px;
    padding: 2px 24px 0;
}
.projects-table-header {
    width: 100%;
}
.projects-table {
    width: 100%;
}
.center-spinner{
    margin:0 auto
}